<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3.dtd">

<mapper namespace="com.pentaKill.dao.CompanyMapper">

    <select
        id="findCompany"
        parameterType="int"
        resultType="company">
        select *
        from companyinfo where
        company_id=#{0};
    </select>

    <update
        id="updateCompany"
        parameterType="company">
        update companyinfo
        <set>
            <if test="robot_open_flag!=null">
                robot_open_flag = #{robot_open_flag}
            </if>
            <if test="dstribution_type!=null">
                dstribution_type = #{dstribution_type}
            </if>
            <if test="mininum_operating_num!=null">
                mininum_operating_num = #{mininum_operating_num}
            </if>
            <if test="customer_info_flag!=null">
                customer_info_flag = #{customer_info_flag}
            </if>
            <if test="access_type!=null">
                access_type = #{access_type}
            </if>
        </set>
        where company_id=#{company_id}
    </update>

    <select
        id="selectCustomerService"
        resultType="customerService">
        select * from
        customerServiceInfo where
        company_id=#{0} and
        cs_operating_number &lt;
        #{1};
    </select>


    <update id="updateCustomerService">
        update customerServiceInfo
        <set>
            <if test="dstribution_type!=null">
                cs_operating_number = #{0}
            </if>
        </set>
        where company_id=#{1}
    </update>

</mapper>