<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3.dtd">

<mapper namespace="com.pentaKill.dao.CompanyMapper">

    <select id="findCompany" parameterType="int" resultType="company">
        select *
        from companyinfo where
        company_id=#{0};
    </select>

    <update id="updateCompany" parameterType="company">
        update companyinfo
        <set>
            dstribution_type = #{dstribution_type},
            mininum_operating_num = #{mininum_operating_num},
            customer_info_flag = #{customer_info_flag},
            access_type = #{access_type},
            robot_open_flag = #{robot_open_flag},
            company_name =
            #{company_name},
            robot_id = #{robot_id}
        </set>
        where company_id=#{company_id}
    </update>

    <select id="selectCustomerService" resultType="customerService">
        select * from
        customerServiceInfo where
        company_id=#{0} and
        cs_operating_number
        &lt;
        #{1};
    </select>


    <update id="updateCustomerService">
        update customerServiceInfo
        <set>
            cs_operating_number = #{0}
        </set>
        where cs_operating_number &lt; #{0} and company_id = #{1};
    </update>

</mapper>