<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3.dtd">

<mapper namespace="com.pentaKill.dao.CustomerServiceMapper">

	<select id="getCustomerServiceStatus" parameterType="int"
		resultType="customerServiceStatusBean">
		select cs_id,cs_workId,cs_name,cs_status,cs_operating_number,cs_img,cs_score
		from customerServiceInfo
		where company_id = #{0}
	</select>

	<select id="getTotalOperatingNum" parameterType="int"
		resultType="int">
		select operating_number
		from cs_management_tool
		where company_id = #{0}
	</select>
	
	<select id="getTotalWaitingNum" parameterType="int"
		resultType="int">
		select waiting_number
		from cs_management_tool
		where company_id = #{0}
	</select>


</mapper>